@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'font.css';


/****************
 * 	  Général   *
 ****************/
body {
	font-family: 'bebe';
}
a,
a:focus,
a:hover {
	text-decoration: none;
}
.container {
	width:1290px;
	margin:auto;
}
.titre {
	position: relative;
	margin-left: 40px;
}
.titre::before {
	content: '';
	width: 30px;
	height: 30px;
	background: #5b646c;
	position: absolute;
	left: -40px;
	top: 3px;
}
.encadrement,
.encadrement-central {
	border-radius:5px;
	background: #e1e5e8;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .25);
}
.encadrement {
	width:575px;
	min-height:482px;
}
.encadrement-central {
	margin: 25px auto;
	width: 1150px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.panier {
	position: absolute;
	right: 15px;
	bottom: 15px;
	overflow: hidden;
}
.panier-img {
	width: 25px;
	height: 25px;
	background: #bcd4ea url(../img/panier.png) 50% no-repeat;
	background-size: 63%;
	float:left;
}
.ajout-panier{
	float:left;
	background:#5b646c;
	border-style: none;
	color:#bcd4ea;
	height:25px;
}

/********************************************************************
 * 	  Header    *
 *******************************************************************/
<<<<<<< HEAD
#header{
	height: 160px;
}

=======
#header {
	height: 160px;
}
>>>>>>> 5772d6c14bedef9b203411d0756c811e67df7b12
#header-menu {
	margin:auto;
	width: 100%;
}
#header-banniere {
	background: #bcd4ea;
	height: 87px;
	box-shadow: 0px 1px 16px rgba(0, 0, 0, .5);
}
#logo {
	font-size: 72px;
	font-family: 'Lobster';
	color: rgb(91, 100, 108);
	line-height: 66px;
	text-align: left;
	margin-left: 20px;
	text-decoration: none;
}


/********************************************* 
		MENU 
*******************************************/
#header-menu li {
	float:left;
	overflow: hidden;
	padding: 0 10px 15px;
}
#header-menu a {
	float:left;
	color:#fff;
	font-family: 'Bebe';
	line-height: 64px;
    font-size:23px;
    width:176px;
	height:56px;
	background:#4e99e1;
	margin-top: -10px;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .15);
	text-align:center;
	border-radius: 0px 0px 10px 10px;
	/* transition: all .25s; */	
}
#header-menu a:hover,
#header-menu a:focus,
#header-menu a.active,
#header-menu a.active:hover,
#header-menu a.active:focus {
	margin-top: -1px;
	line-height: 2.7;
}

#header-menu a.active {
	color:#000;
	background:#bcd4ea;
}

/************************************************

		MAIN

**************************************************/
#main {
	margin: 30px auto;
	min-height: 700px;
}
#contenu {
	border:1px solid black;
	width:700px;
	padding: 20px;
	float:left;
}

/********************************************

			SIDEBAR

************************************************/
#sidebar{
	width:490px;
	float:right;
	margin-bottom: 25px;
	padding: 20px; 
}
.offres{
	position: relative;
	height:140px;
	border:1px solid black;
	margin: 40px 30px;
}
.offres .panier {
	bottom: 2px;
	right: auto;
}
.offres .cadre {
	width: 140px;
	background-image: url('../img/cadre_accueil.png') ;
	background-repeat:no-repeat;
	float:left;
}
.offres .cadre img {
	margin: 15px 15px;
}
.offres .infos{
	margin: 15px 15px 0px 155px;
}
.offres .infos .infos-details ul li{
	margin-left: 10px;
}
.offres .infos .infos-details li {
	font-size: 20px;
}


/************************************************
JB
		PAGE RECHERCHE

**************************************************/
#page-recherche .encadrement-central {
	min-height: 424px;
}
.search {
	width: 930px;
	margin: 0 auto;
	overflow: hidden;
}
#formulaire-recherche {
	height: 30px;
	margin-top: 50px;
	width: 800px;
	float: left;
}
#resultats-nombre {
	width: 100px;
	display: block;
	float: left;
	margin-top: 55px;;
	margin-left: 30px;
	color: #4e99e1;
	font: italic 20px "bebe";
}
.champs {
	height: 25px;
	background: #818181;
    color:#fff;
    font: 20px "bebe" ;
    position: relative;
	border: 1px solid #5b646c;
}

.label-recherche {
	color: #4e99e1;
	text-transform: uppercase;
	font: 20px "bebe";
	margin-left: 30px;
}
#formulaire-recherche input[type=text] {
	height: 25px;
	width: 280px;
	font: 20px "bebe";
	color: #fff;
	padding-left: 2px;	
	background-color: #818181;
	border: 1px solid #5b646c;
}
#formulaire-recherche input[type=text]::-webkit-input-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]:-moz-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]::-moz-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]::-ms-input-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=submit] {
	background: url(../img/loupe.png) no-repeat center;
	border: 0;
	float: left;
	height: 17px;
	width: 17px;
	padding: 6px;
	box-sizing: content-box;
	position: relative;
	left: 711px;
	top: -2px;
}
.offres-recherche {
	position: relative;
	height: 175px;
	width: 338px;
	border:1px solid black;
	margin:18px 21px 18px 23px;
	float: left;
}
.cadre-recherche {
	width: 336px;
	height: 174px;
	background-image: url('../img/cadre_recherche.png');
	background-repeat:no-repeat;
	float:left;
	z-index: 1;
}
.offres-recherche .cadre-recherche img {
	margin: 15px 15px;
}
.offres-recherche .infos {
	margin: -126px 15px 0px 130px;
	width: 180px;
}
.offres-recherche .infos .infos-details ul li {
	margin-left: 10px;
}
.offres-recherche .infos .ajout-panier {
	float:left;
	background:#5b646c;
	border-style: none;
	color:#bcd4ea;
	height:25px;
}
.offres-recherche .infos .infos-details li {
	font-size: 20px;
}

/************************************************
JB
		PAGE INSCRIPTION

**************************************************/
#page-inscription .encadrement-central {
	width: 750px;
}
#formulaire-inscription .form-moitie {
	width: 30%;
	margin: 15px 8% 15px;
	float: left;
}
#formulaire-inscription span {
	margin: 0 10px 0 0;
}
#formulaire-inscription .form-group {
	float: left;
	width: 100%;
}
#formulaire-inscription .label-inscription {
	text-transform: uppercase;
	color: #5b646c;
}
#formulaire-inscription .label-sexe {
	margin: 2px 15px;
}
#formulaire-inscription .form-control:focus {
border-color: none;
box-shadow: none;
}
#formulaire-inscription input[type=checkbox], input[type=radio] {
margin: 4px 0 0 -5px;
margin-top: 1px \9;
line-height: normal;
}
/*  Bootstrap */
#page-inscription .form-control {
	display: block;
	width: 136%;
	height: 25px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid  #5b646c;
	border-radius: 4px;
	box-shadow: inset 2px 2px 10px rgba(0,0,0,0.35);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#page-inscription .form-radio {
	display: block;
	width: 136%;
	height: 18px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
}
#formulaire-inscription input[type=radio] {
	margin: 4px 0 0 -5px;
	margin-top: 1px \9;
	line-height: normal;
	border: 1px solid #5b646c;
}

#page-inscription .btn-default {
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #5b646c;
}
#page-inscription .btn-default:hover {
	background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	background-repeat: repeat-x;
	border-color: #66afe9;
}

/************************************************
Xavier
		MAIN   PAGE : "RESERVATION DETAIL"

**************************************************/
#page-reservation div.left {
	width: 15%;
}
#page-reservation div.left > img {
	margin-bottom: 15px;
}
#page-reservation div.right {
	width: 85%;
}
#page-reservation div.right h2,
#infos_gauche h2 {
	font-size: 23px;
}
#page-reservation div.right h2 span {
	font-size: 23px;
	color: #4e99e1;
	margin-right: 10px;
}

/********   DIV RESERVATION  *********/
#reservation {
	width: 350px;
	height: 30px;
	float: left;
}
#reservation .carre,
#informations .carre,
#avis .carre {
	float: left;
	width: 20px;
	height: 20px;
	background: #5b646c;
	margin: 0;
}
#reservation h1,
#informations h1,
#avis h1 {
	float: left;
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 25px;
	color: #5b646c;
}
#reservation h2 {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 20px;
	text-transform: uppercase;
	color: #4e99e1;
}

/********   DIV SALLE  *********/
#salle {
	position: relative;
	padding: 20px;
	background: #e1e5e8 url('../img/cadre.png') no-repeat;
}
#cadre {
	float: left;
	width: 100%;
	height: 186px;
}
#cadre img {
	float:left;
	margin: 20px 20px;
}

/******** POINT *********/
#points {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	width: 800px;
	height: 130px;
}
#points p {
	padding-bottom: 0;
}
#points-ronds {
	float: left;
	margin: 0 20px;
}
#points-ronds span {
	float: left;
	margin: 2px 2px;
	width: 20px;
	height: 20px;
	padding-left: 10px;
	background: rgb(78, 153, 225) no-repeat ;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #5b646c;
}
#points-ronds p {
	float: left;
	width: 100px;
	margin-left: 25px;
}
#points-description {
	float: left;
	margin-top: 20px;
}
#points-description p {
	font-size: 18px;
	text-transform: uppercase;
}
#points-description p:nth-child(2) {
	font-size: 18px;
	text-transform: none;
	color: #4e99e1;
}

/*********    SALLE CAPACITE    ***********/
#salle-capacite {
	clear: both;
	float: left;
	margin-left: 20px;
	margin-top: -5px;
	width: 200px;
	height: 60px;
}
#salle-capacite p {
	font-size: 20px;
	line-height: 0.3em;
}
.span-capacite, .span-categorie {
	color: #4e99e1;
}

/***********     INFORMATIONS  ---   AVIS     *********/

/*******   INFO GAUCHE  *******/
#infos_gauche {
	float: left;
	margin-top: 45px;
	width: 45%;
}
#infos_gauche .infos-container {
	padding: 15px;
}
#infos_gauche .infos-container ul {
	padding-top: 15px;
}
#infos_gauche .infos-container li {
	padding-bottom: 8px;
}
.infos-container {
	float: left;
	width: 100%;
	min-height: 260px;
	background: #e1e5e8 no-repeat;
}
#infos_titre .carre {
	margin-left: 0px;
}
/* INFOS GAUCHE: Titre, H2, UL, Li */
#infos-container_gauche {
	float: left;
	width: 50%;
	height: 100%;
}
#infos-container h2 {
	color: #5b646c;
	text-transform: uppercase;
	margin: 10px 20px;
	font-size: 20px;
}
#infos-container ul {
	clear: left;
	margin-top: 25px;
	margin-left: 20px;
	width: 100%;
	height: 100%;
}
#infos-container li {
	font-size: 20px;
	line-height: 25px;
}
.infos-container-span {
	color: #4e99e1;
}
/* INFOS DROITE: H2, UL, Li */
#infos-container_droite {
	float: left;
	width: 50%;
	height: 100%;
}
#infos-container_droite > a {
	display: block;
}
#infos-container_droite img {
	margin-top: 20px;
	display: block;
	border: none;
}

/*******   AVIS DROITE  *******/
#avis_droite {
	float: left;
	margin-top: 45px;
	margin-left: 125px;
	width: 45%;
}

/* INFOS DROITE: H2, UL, Li */
#avis-commentaires {
	float: left;
	width: 100%;
	height: 100%;
	background: #e1e5e8 no-repeat;
}
#avis-commentaires p {
	float: left;
	padding-right: 10px;
	margin: 10px 10px;
	color: #4e99e1;
}
	

/********************************************
 **     MODIFICATIONS LUNDI 25/05/2015     **
 ********************************************/

#points-ronds2 {
	float: left;
	margin-top: 10px;
}
#points-ronds2 a {
	display: inline-block;
	margin: 2px 2px;
	width: 10px;
	height: 10px;
	background: rgb(78, 153, 225) no-repeat ;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #5b646c;
}

/****    NOUVEAU COMMENTAIRE     ****/
#informations-commentaires_first {
	clear: both;
	margin: auto;
	background: #bcd4ea no-repeat;
	width: 95%;
	height: 50px;
}
#informations-commentaires_first img:nth-child(1) {
	float: left;
}
#informations-commentaires_first img:nth-child(2) {
	float: right;
}
#commentaire-creer {
	clear: left;
	margin: auto;
	width: 95%;
	height: 80px;
}
#commentaire-creer textarea {
	margin-top: -30px;
	width: 100%;
	height: 60px;
	resize: none;
}
#commentaire-creer p:nth-child(2) {
	float: left;
}
#commentaire-creer input {
	float: right;
	margin-top: 10px;
}

/****** SUGGESTION *******/
#autres-suggestions {
	clear: left;
	float: left;
	margin-top: 45px;
	width: 100%;
}
#autres-suggestions_titre .carre {
	margin-left: 0px;
} 
#suggestions {
	width:100%;
	height: 125px;
	margin: auto;
	margin-top: -20px;
}
#suggestions_gauche {
	clear: left;
	float: left;
	width: 10%;
	height: 125px;
}
#suggestions_gauche a {
	display: block;
	margin: 20px 50px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 50px 30px 0;
	border-color: transparent #5b646c transparent transparent;
	  
}
#suggestions_milieu {
	float: left;
	width: 80%;
	height: 125px;
}
#suggestions_offre {
	float: left;
	background: #e1e5e8 no-repeat;
	width: 300px;
	height: 100px;
	margin: 12px;
}
#suggestions_milieu img {
	float: left;
}
#suggestions_offre_texte {
	float: left;
	margin-top: 5px;
}
#suggestions_offre_texte p {
	line-height: 0px;
	padding-bottom: 14px;
	margin-left: 10px;
	font-size: 0.8em;
}
#suggestions_offre_texte p:nth-child(1) {
	margin:5px;
	font-size: 1em;
	font-weight: bold;
}
#suggestions_offre_texte a {
	margin: -10px 0 0 20px;
}
#suggestions_droite {
	float: left;
	width: 10%;
	height: 125px;
}
#suggestions_droite a {
	display: block;
	margin: 20px 50px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 0 30px 50px;
	border-color: transparent transparent transparent #5b646c;
}

/************************************************
Xavier
		   PAGE : "PANIER.PHP"

**************************************************/


/********   DIV PANIER TITRE  *********/
#panier_titre {
	width: 100%;
}

/* 1. VEILLEZ REMPLIR LE FORMULAIRE */
#panier_valider {
	width: 100%;
  	height: 50px;
}
#panier_valider p {
  	position: relative;
  	left: 55px;
  	top: 12px;
  	font-size: 1.2em;
}
.panier_titre_rond {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #4e99e1 no-repeat ;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	
}
.panier_titre_rond small {
	position: absolute;
	font-size: 1.2em;
	color: white;
	top: 12px;
  	left: 18px;
}

/*****     TABLEAU     ******/
#tableau_panier {
	clear: left;
}
#tableau_panier table {
	background: #bcd4ea no-repeat;
	width: 80%;
}
#tableau_panier tr:nth-child(1) {
	background: #5b646c no-repeat;
}
#tableau_panier tr>th {
	color: white;
}
#tableau_panier th {
	color: #4e99e1;
	font-size: 1.2em;
	text-transform: uppercase;
}
#total {
	background: #5b646c no-repeat;
}
#total>td {
	color: white;
}
#prix_total {
	text-align: center;
}

#tableau_panier td:nth-child(8) {
	text-align: center;
	color:red;
	font-weight: bold;
}
#total #resultat {
	background: #4e99e1 no-repeat;
	text-align: center;
}

/*****************************************************

*    cedric PAGE CONNEXION *

*****************************************************/



/*****************************************************
		* BLOCK DE GAUCHE CONNEXION *
	
*********************************************************/


.encadrement.left p{
	text-transform: uppercase;
	font-size:40px;
	color:#818181;
	text-align: center;
	margin-top: 5px;
}

#formulaire{
	width: 545px;
	height:371px;
	border:1px solid black;
	margin:15px;
	position: relative;
}

#formulaire label{
	/*display: block;
	margin:20px 20px;
	width:109px;
	float:left;
	text-transform: uppercase;
	font-size: 20px;
	color:#4e99e1;*/
    display: block;
    text-transform: uppercase;
    font-size: 20px;
	display:block;
	float:left;
	color: #4e99e1;
}

#formulaire input[type='checkbox'] {
	height: 20px;
 	width: 20px;
 	margin: -12px;
 	box-shadow: none;
}
#formulaire input{
	box-shadow: inset -3px 5px 15px rgba(0,0,0,0.35);
}

#formulaire input[type='submit'] {
	text-transform: uppercase;
	background:#5b646c;
	color:#fff;
	font-size:30px;
	width: 180px;
	height:42px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	border:none;
}

#formulaire form {
	margin: 100px auto;
	width: 65%;
}

#formulaire form > div {
	clear: both;
}

#formulaire form > div > label,
#formulaire form > div > div {
	float: left;
	width: 50%;
	margin: 5px 0;
}
	
#formulaire form > div > div > a {
	padding: 5px 0;
	display: block;
	font-size: 20px;
	color:#818181;
}

/***************************************************************
		* BLOCK DE DROITE CONNEXION *

*******************************************************************/


.encadrement.right p{
	color:#818181;
	font-size:50px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 160px;
}


.encadrement.right a{
	color:#818181;
	text-transform: uppercase;
	font-size:25px;
	margin-left: 190px;
	line-height: 190px;
}
/*****************************************************
 * 	  Footer   *
 ******************************************************/
#footer {
	font: 16px "bebe";
	background: #5b646c;
}
#footer-nav a{
	color: #bcd4ea;
  	border-bottom: 2px solid #bcd4ea;
  	transition:all 0.3s;
}
#footer-nav a:hover {
  	color: #fff;
  	padding-bottom: 5px;
  	border-color:#fff;
}
#footer-nav ul {
	padding: 10px;
	text-align: center;
	width: 690px;
	margin: 0 auto;
}
#footer-nav ul li{
	float: left;
  	padding: 0 15px 0 15px;
	border-right: 1px solid #bcd4ea;
	height: 20px;
	line-height: 1.2;
}
#footer-nav ul li:last-child {
	border:none;
}

/******************************************************************
JB
		PAGE MENTIONS LEGALES, CGV, plan du site, newsletter

*******************************************************************/
#mentions, #cgv, #plan, #newsletter {
	margin: 100px 190px;
	width: 900px;
}

#mentions p, #cgv p {
	padding-bottom: 20px;
	line-height: 2.3;
	text-align: left;
	color: #4e99e1;
	font: 25px "bebe";
}

#plan a {
	width: 500px;
	display: inline-block;
	margin-right: 30px;
	font-size: 18px;
}

#plan div, #newsletter div {
	float: left;
	width: 620px;
	margin: 20px 0 0 0;
	font-size: 20px;
}

#newsletter a {
	float: left;
	width: 300px;
	margin: 20px 0 0 0;
	font-size: 20px;
}



/******************************************************************
TB
		PAGE CONTACT

*******************************************************************/
#page-contact form {
	width: 80%;
	margin: 10% 0; 
}




