@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'font.css';


/****************
 * 	  Général   *
 ****************/
a,
a:focus,
a:hover {
	text-decoration: none;
}
.container {
	width:1290px;
	margin:auto;
}
h1 {
	font-size: 1.638em;
	margin-bottom: 1em;
}
p {
	padding-bottom: 20px;
	line-height: 1.3;
	text-align: justify;
}


/********************************************************************
 * 	  Header    *
 *******************************************************************/
#header-menu {
	margin:auto;
	width: 100%;
}
#header-banniere {
	background: #bcd4ea;
	height: 87px;
	box-shadow: 0px 1px 16px rgba(0, 0, 0, .5) ;
	/*position:relative;
	z-index:999;
	top:0;
	left:0;
	width: 100%;*/
}

#logo {
	font-size: 72px;
	font-family: 'Lobster';
	color: rgb(91, 100, 108);
	line-height: 66px;
	text-align: left;
	margin-left: 20px;
	text-decoration: none;
}

/********************************************* 
		MENU 
*******************************************/
#header-menu ul {

}
#header-menu li {
	float:left;
	overflow: hidden;
	padding: 0 10px 15px;
}
#header-menu a {
	float:left;
	color:#fff;
	font-family: 'Bebe';
	line-height: 64px;
    font-size:23px;
    width:176px;
	height:56px;
	background:#4e99e1;
	margin-top: -10px;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .15);
	text-align:center;
	border-radius: 0px 0px 10px 10px;
	transition: all .25s;	
}
#header-menu a:hover,
#header-menu a:focus,
#header-menu a.active,
#header-menu a.active:hover,
#header-menu a.active:focus {
	margin-top: -1px;
	line-height: 2.7;
}
#header-menu a.active {
	color:#000;
	background:#bcd4ea;
}


/************************************************

		MAIN

**************************************************/
#main{
	margin-top:60px;
}
#contenu{
	border:1px solid black;
	width:700px;
	padding: 20px;
	float:left;
}
#contenu h1{
	font-weight: 700;
}
/********************************************

			SIDEBAR

************************************************/
#sidebar{
	background-color: #e1e5e8;
	width:490px;
	border:1px solid black;
	float:right;
	margin-bottom: 25px;
}

.carre{
	float: left;
	width: 20px;
	height:20px;
	background:#5b646c;
	margin: 10px 10px 10px 10px;
}

#lastinf {
	 height: 20px;
  	 margin-top: 12px;
  	 text-transform: uppercase;
  	 font-weight: 700;
  	 font-size: 20px;
}

.offres{
	position: relative;
	height:140px;
	border:1px solid black;
	margin: 44px 36px 18px 30px;
}

#cadre {
	width: 140px;
	background-image: url('../img/cadre_accueil.png') ;
	background-repeat:no-repeat;
	float:left;
}

#cadre img {
	margin: 15px 15px;
}

#infos{
	margin: 15px 15px 0px 155px;
}

#infos-details ul li{
	margin-left: 10px;
}

#panier{
	position: absolute;
	right: -1px;
	bottom: -10px;
	clear: both;
}
#panier img{
	padding: 5px;
}

#panier-img {
  width: 25px;
  height: 25px;
  background: #bcd4ea;
  float:left;
}

#ajout-panier{
	float:left;
	background:#5b646c;
	border-style: none;
	color:#bcd4ea;
	height:25px;
}

#infos-details li {
	font-size: 20px;
}


/************************************************

		PAGE RECHERCHE

**************************************************/
#formulaire-recherche {
	border: 1px solid black;
	height: 30px;
	margin-top: 25px;
	margin-left: 81px;
	width: 730px;
	float: left;
}

#carre-recherche {
	float: left;
	width: 20px;
	height: 20px;
	background: #5b646c;
}

#titre-recherche {
	color: #818181;
	float: left;
	font: 25px "bebe";
	text-transform: uppercase;
	padding-left: 10px;
}

.champs {
	height: 25px;
	background: #818181;
    color:#fff;
    font: 20px "bebe" ;
    position: relative;
	border: 1px solid #5b646c;
}

.label-recherche {
	color: #4e99e1;
	text-transform: uppercase;
	font: 20px "bebe";
	margin-left: 30px;
}

#formulaire-recherche input[type=text] {
	height: 25px;
	width: 280px;
	font: 20px "bebe";
	color: #fff;
	padding-left: 2px;	
	background-color: #818181;
	border: 1px solid #5b646c;
}

#formulaire-recherche input[type=text]::-webkit-input-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]:-moz-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]::-moz-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]::-ms-input-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}

#formulaire-recherche input[type=submit] {
	background: url(../img/loupe.png) no-repeat center;
	border: 0;
	float: left;
	height: 17px;
	width: 17px;
	padding: 6px;
	/* On change le box-sizing */
	box-sizing: content-box;
	/* Pour placer au-dessus de l'input search */
	position: relative;
	left: 680px;
	top: -28px;
}

#resultats {
	border: 1px solid black;
	width: 100px;
	display: block;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	color: #4e99e1;
	font: italic 20px "bebe";
}


/************************************************

		Section offres ?

**************************************************/
#offres{
	background-color: #e1e5e8;
	width:604px;
	height:709px;
	border:1px solid black;
	float:right;
}


/*****************************************************
 * 	  Footer   *
 ******************************************************/
#footer {
	font: 16px "bebe";
	background: #5b646c;
}
#footer-nav a{
	color: #bcd4ea;
  	border-bottom: 2px solid #bcd4ea;
  	transition:all 0.3s;
}
#footer-nav a:hover {
  	color: #fff;
  	padding-bottom: 5px;
  	border-color:#fff;
}
#footer-nav ul {
	padding: 10px;
	text-align: center;
	width: 690px;
	margin: 0 auto;
}
#footer-nav ul li{
	float: left;
  	padding: 0 15px 0 15px;
	border-right: 1px solid #bcd4ea;
	height: 20px;
	line-height: 1.2;
}
#footer-nav ul li:last-child {
	border:none;
}




