@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'font.css';


.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}


/****************
 * 	  Général   *
 ****************/

body {
	/*background: #fafcfc;
	color: #fff;*/

}

a:hover{

	text-decoration: none;
}

.container{
	width:1290px;
	margin:auto;
}
/********************************************************************
 * 	  Header    *
 *******************************************************************/
#header-menu{
	margin:auto;
	width: 100%;
}
#header-banniere {
	background: #bcd4ea;
	height: 87px;
	box-shadow: 0px 1px 16px rgba(0, 0, 0, .5) ;
	/*position:relative;
	z-index:999;
	top:0;
	left:0;
	width: 100%;*/
}

#logo {
  font-size: 72px;
  font-family: 'Lobster';
  color: rgb(91, 100, 108);
  line-height: 66px;
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
}

/********************************************* 
		MENU 
*******************************************/
#header-menu ul {
  margin: 0 0 0 -56px;
  width: 1290px;
  position:absolute;
  top:87px;
}


#header-menu li{
	float:left;
	transition: all .5s;
	overflow: hidden;
	padding-bottom: 25px;
}


#header-menu a{
	float:left;
	color:#fff;
	width:1450px;
	font-family: 'Bebe';
	line-height: 64px;
    margin-left: 30px;
    font-size:23px;
    width:176px;
	height:56px;
	background:#4e99e1;
	margin-left: 82px;
	box-shadow:  0px 4px 16px rgba(0, 0, 0, .25);
	text-align:center;
	border-radius: 0px 0px 10px 10px;
	transition: all .5s;

	
}

#header-menu li:hover a,
#header-menu li:focus a{
	color:#000;
	
    
  
}

#header-menu a.active {
	background:#bcd4ea;
}

#header-menu a:hover,
#header-menu a:focus{
	margin-top: -10px;	
}

/************************************************

		MAIN

**************************************************/
#main{

	width:1290px;
	height: 500px;
	margin:auto;
	margin-top:80px;
	border: 1px solid black;
}


/************************************************

		PAGE RECHERCHE

**************************************************/
#formulaire-recherche {
	border: 1px solid black;
	height: 30px;
	margin-top: 25px;
	margin-left: 81px;
	width: 730px;
	float: left;
}

#carre-recherche {
	float: left;
	width: 20px;
	height: 20px;
	background: #5b646c;
}

#titre-recherche {
	color: #818181;
	float: left;
	font: 25px "bebe";
	text-transform: uppercase;
	padding-left: 10px;
}

.champs {
	height: 25px;
	background: #818181;
    color:#fff;
    font: 20px "bebe" ;
    position: relative;
	border: 1px solid #5b646c;
}

.label-recherche {
	color: #4e99e1;
	text-transform: uppercase;
	font: 20px "bebe";
	margin-left: 30px;
}

#formulaire-recherche input[type=text] {
	height: 25px;
	width: 280px;
	font: 20px "bebe";
	color: #fff;
	padding-left: 2px;	
	background-color: #818181;
	border: 1px solid #5b646c;
}

#formulaire-recherche input[type=text]::-webkit-input-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]:-moz-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]::-moz-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}
#formulaire-recherche input[type=text]::-ms-input-placeholder {
	padding-left: 2px;
	opacity: 0.5;
	font: 20px "bebe";
	color: #fff;	
}

#formulaire-recherche input[type=submit] {
	background: url(../img/loupe.png) no-repeat center;
	border: 0;
	float: left;
	height: 17px;
	width: 17px;
	padding: 6px;
	/* On change le box-sizing */
	box-sizing: content-box;
	/* Pour placer au-dessus de l'input search */
	position: relative;
	left: 680px;
	top: -28px;
}

#resultats {
	border: 1px solid black;
	width: 100px;
	display: block;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	color: #4e99e1;
	font: italic 20px "bebe";
}

/************************************************

		Section offres ?

**************************************************/
#offres{
	background-color: #e1e5e8;
	width:604px;
	height:709px;
	border:1px solid black;
	float:right;
}
/*****************************************************
 * 	  Footer   *
 ******************************************************/

 #footer {
 	height: 50px;
	position: absolute;
	bottom: 1px;
	width: 100%;
	background: #5b646c;
}

#footer-container {
	margin: auto;
	font: 16px "bebe";
	width: 802px;
}

#footer-nav {
	margin: auto;
	width: 802px;
	line-height: 50px;
	margin-left: 2px;
}

#footer-nav a{
	color: #bcd4ea;
  	border-bottom: 2px solid #bcd4ea;
  	transition:all 0.3s;
}

#footer-nav a:hover {
  	color: #fff;
  	padding-bottom: 5px;
  	border-color:#fff;
}

#footer-nav ul li{
	float: left;
	margin: 15px 0 0 0;
  	padding: 0 15px 0 15px;
	border-right: 2px solid #bcd4ea;
	height: 20px;
	line-height: 1.2;
}

#footer-nav ul li:last-child {
	border:none;
}




