@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'font.css';


.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}


/****************
 * 	  Général   *
 ****************/

body {
	background: #fafcfc;
	color: #fff;
}


/****************
 * 	  Header    *
 ****************/

#header-banniere {
	background: #bcd4ea;
	height: 87px;
	box-shadow: 0px 1px 16px rgba(0, 0, 0, .5) ;

}

#logo {
  font-size: 72px;
  font-family: 'Lobster';
  color: rgb(91, 100, 108);
  line-height: 66px;
  text-align: left;
  position: fixed;
  left: 20px;
  text-decoration: none;
}

/**************** menu  ***********************/
#header-menu ul {
  margin: auto;
  width: 1375px;
}


#header-menu li{
	float:left;
	width:193px;
	height:74px;
	background:#4e99e1;
	margin-left: 82px
}


#header-menu  a{
	color:#fff;
	width:1450px;
	font-family: 'Bebe';
	line-height: 64px;
    margin-left: 50px;
    font-size: 20px;
	
}
<<<<<<< HEAD
@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'font.css';


.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}


/****************
 * 	  Général   *
 ****************/

body {
	background: #fafcfc;
	color: #fff;
}


/****************
 * 	  Header    *
 ****************/

#header-banniere {
	background: #bcd4ea;
	height: 87px;
	box-shadow: 0px 1px 16px rgba(0, 0, 0, .5) ;

}

#logo {
  font-size: 72px;
  font-family: 'Lobster';
  color: rgb(91, 100, 108);
  line-height: 66px;
  text-align: left;
  position: fixed;
  left: 20px;
  text-decoration: none;
}

/**************** menu  ***********************/
#header-menu ul {
  margin: auto;
  width: 1375px;
}


#header-menu li{
	float:left;
	width:193px;
	height:74px;
	background:#4e99e1;
	margin-left: 82px
}


#header-menu  a{
	color:#fff;
	width:1450px;
	font-family: 'Bebe';
	line-height: 64px;
    margin-left: 50px;
    font-size: 20px;
	
}

/****************
 * 	  Footer   *
 ****************/

 #footer {
	position: absolute;
	bottom: 20px;
	width: 100%;
}

#footer-container {
	margin: auto;
	width: 1160px;
	font: 13px "bebe";
	text-transform: uppercase;
	background: grey;
}
#footer-nav {
	margin: auto;
	width: 750px
}
#footer-nav a {
	color: #fff;
	margin-right: 46px;
}
